.app-index {
    background-color: white;

    .hero {

        padding: 56px;

        .hero-banner-1 {
            background-image: url(https://st4.depositphotos.com/23035388/24584/i/450/depositphotos_245844932-stock-illustration-abstract-background-watercolor-painting-decorative.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 16px;
            height: 500px;
            
            img{
                height: 200px;
            }

        }

        .hero-banner-2 {
            background-image: url(https://st4.depositphotos.com/23035388/24584/i/450/depositphotos_245844932-stock-illustration-abstract-background-watercolor-painting-decorative.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 245px;
            margin-bottom: 10px;

            .content{

                .col-4{
                    bottom: 0;
                    margin-top: 25px;
                }

                img{
                    height: 100%;
                    padding: 10px;
                }
            }
        }

        .hero-banner-3 {
            background-image: url(https://st4.depositphotos.com/23035388/24584/i/450/depositphotos_245844932-stock-illustration-abstract-background-watercolor-painting-decorative.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 245px;
        }
    }
}