.body{
    background-color: rgb(185, 185, 185);
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


hr{
    border: none; 
    border-left: 2px solid black; 
    height: 100px;
}

.column-margin {
    margin-right: 10px; /* Cambia el valor según sea necesario */
    margin-left: 10px; /* Cambia el valor según sea necesario */
}

.widget-title {
    margin-bottom: 2em;
}

.list-inline-item {
    padding: 1em;
}