$primary: #ffa323;
$secondary: #9fa6b2;
$success: #00b74a;
$info: #39c0ed;
$warning: #ff5100;
$danger: #f93154;
$light: #f9f9f9;
$grayish: #9fa6b2;

$popupAlertError: #842029;
$popupAlertSuccess: #10793a;
$popupAlertInfo: #797979;

$fontFamily: "Roboto";

@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300,400,500,700&display=swap");
@import "../../../framework/app/mdb.scss";

app-toolbar {
  width: 100%;
}

.kiwimenu-icon-color {
  filter: invert(79%) sepia(57%) saturate(2981%) hue-rotate(339deg) brightness(100%) contrast(102%);
}

.app-padding {
  padding: 51px 21px;
}