.btn-info {
    background-color: rgb(73, 147, 243)
}

p,h1,h2,h3,h4 {
    color: black
}


@media (min-width: 360px) {
    img#current {
        height: 6.8em;
        padding: 0.1em;
    }

    .item-details {
        margin-top: 4em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 4em;
        background-color: #d6d8da9a;
        padding: 5em;
        border-radius: .4em;
    }
}

@media (min-width: 576px) {
    img#current {
        height: 12em;
        padding: 0.2em;
    }

    .item-details {
        margin-top: 4em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 4em;
        background-color: #d6d8da9a;
        padding: 5em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    img#current {
        height: 20em;
        padding: 2em;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    img#current {
        height: 16em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    img#current {
        height: 20em;
    }

    .item-details {
        margin-top: 6em;
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 6em;
        background-color: #d6d8da9a;
        padding: 5em;
    }

}