<section class="item-details">
    <div class="container-fluid">
        <div class="row align-items-center mb-2">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="mb-2">
                    <img src="{{ product.urlImagen }}" id="current" alt="#">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <h2>{{ product.nombre }}</h2>
                <h3 class="mb-3 mt-2">{{ product.precio }} €</h3>
                <p class="mb-1">Categorias: {{ product.categorias }}</p>
                <p class="mb-3">Etiquetas: {{ product.etiquetas }}</p>
                <div class="col-lg-4 col-md-4 col-12">
                    <button class="btn btn-info">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 col-12">
            <h4 class="mb-3 mt-2">Details</h4>
            <p>
                {{ product.descripcion }}
            </p>
        </div>
        <div class="col-lg-6 col-12" >
            <!-- Esta seccion solo esta en la v2 -->
            <div class="mt-2 mb-4">
                <h4 class="mt-2 mb-1">Shipping Options:</h4>
                <ul class="mt-2 mb-1">
                    <li><span>Unishop Global Export:</span> 3 - 4 days, 25.00 €</li>
                </ul>
            </div>
        </div>
    </div>
</section>