<div class="app-catalog">
  <div>

  </div>
  <div class="container">        
    <div class="row">
      <ng-container *ngFor="let product of products;">
        <div class="col-md-3 card_container">
          <a [routerLink]="['/catalog', product.id]">
            <div class="card">
              <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="{{ product.urlImagen }}" class="img-fluid" [alt]="product.nombre" />
                <a href="#!" class="btn btn-overlay"> <i class="fas fa-shopping-cart"></i> Shop</a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ product.nombre }}</h5>
                <p class="card-text">{{ product.descripcion }}</p>
                <p class="card-text">Precio: {{ product.precio | currency }}</p>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <p>Placeholder FOOTER</p>
  </div>
</div>
