<div class="row d-flex align-items-center">
    <!-- Single Widget-->
    <div class="col-4 col-md-4 p-2">
        <div class="single-footer-widget">
            <!-- Widget Title-->
            <h5 class="widget-title text-uppercase">About</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="#">About Us</a></li>
                    <li><a class="nav-link" href="#">Corporate Sale</a></li>
                    <li><a class="nav-link" href="#">Terms &amp; Policy</a></li>
                    <li><a class="nav-link" href="#">Community</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Vertical Line -->
    <hr>
    <!-- Single Widget-->
    <div class="col-4 col-md-4 p-2">
        <div class="single-footer-widget">
            <!-- Widget Title-->
            <h5 class="widget-title text-uppercase">Support</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="#">Help</a></li>
                    <li><a class="nav-link" href="#">Support</a></li>
                    <li><a class="nav-link" href="#">Privacy Policy</a></li>
                    <li><a class="nav-link" href="#">Help &amp; Support</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Vertical Line -->
    <hr>
    <!-- Single Widget-->
    <div class="col-4 col-md-4 p-2">
        <div class="single-footer-widget">
            <!-- Widget Title-->
            <h5 class="widget-title text-uppercase font-italic">Contact</h5>
            <!-- Footer Menu-->
            <div class="footer_menu">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="#">Call Centre</a></li>
                    <li><a class="nav-link" href="#">Email Us</a></li>
                    <li><a class="nav-link" href="#">Term &amp; Conditions</a></li>
                    <li><a class="nav-link" href="#">Help Center</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
