.row{
    background-color: rgba(128, 128, 128, 0.678);
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


hr{
    border: none; 
    border-left: 2px solid black; 
    height: 100px;
}