<div class="app-footer p-5">
    <div class="container">
        <div class="row d-flex align-items-center body">

            <!-- Single Widget-->
            <div class="col-3 col-md-3">
                <div class="single-footer-widget">
                    <!-- Widget Title-->
                    <h5 class="widget-title text-uppercase">Contact</h5>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                        <ul class="navbar-nav">
                            <li><a class="nav-link" href="#">666-666-666</a></li>
                            <li><a class="nav-link" href="#">demoinformatica&#64;gmil.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Vertical Line -->
            <!-- Single Widget-->
            <div class="col-4  col-md-6">
                <div class="single-footer-widget">
                    <!-- Widget Title-->
                    <!-- Footer Menu-->
                    <div class="footer_menu row">
                        <div class="col-md-6 links">
                            <ul class="navbar-nav ">
                                <li><a class="nav-link" href="#">About us</a></li>
                                <li><a class="nav-link" href="#">How to by</a></li>
                                <li><a class="nav-link" href="#">Payment mathods</a></li>
                                <li><a class="nav-link" href="#">Shopping and Warranty</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 links">
                            <ul class="navbar-nav">
                                <li><a class="nav-link" href="#">Policy Policy</a></li>
                                <li><a class="nav-link" href="#">Cookies Policy</a></li>
                                <li><a class="nav-link" href="#">Client's review</a></li>
                                <li><a class="nav-link" href="#">Offers and discounts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Vertical Line -->
            <!-- Single Widget-->
            <div class="col-3 col-md-3">
                <div class="single-footer-widget">
                    <!-- Widget Title-->
                    <h5 class="widget-title text-uppercase font-italic">Social media</h5>
                    <!-- Footer Menu-->
                    <div class="footer_menu">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="nav-link" href="#"><img src="../../assets/img/icons8-instagram.svg"
                                        style="width: 2em; height: 2em;"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link" href="#"><img src="../../assets/img/icons8-facebook-nuevo.svg"
                                        style="width: 2em; height: 2em;"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link" href="#"><img src="../../assets/img/icons8-twitterx.svg"
                                        style="width: 2em; height: 2em;"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link" href="#"><img src="../../assets/img/icons8-youtube.svg"
                                        style="width: 2em; height: 2em;"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <p class="pt-5">© 2024 Demo Tienda Informática. All rights reserved.</p>

        </div>
    </div>
</div>